{{ template "header.tmpl" }}i=======================================================================	fake	fake	70
i{{ .Title }}	fake	fake	70
1Back to main menu	/	{{ .Host }}	{{ .Port }}
i=======================================================================	fake	fake	70
{{ with .Subtitle }}i{{ . }}	fake	fake	70
{{ end }}i	fake	fake	70
{{          with .Date     }}iDate:     {{ . }}	fake	fake	70
{{ end }}{{ with .Persons  }}iPersons:  {{ . }}	fake	fake	70
{{ end }}{{ with .Language }}iLanguage: {{ . }}	fake	fake	70
{{ end }}{{ with .Length   }}iLength:   {{ . }}	fake	fake	70
{{ end }}{{ with .Tags     }}iTags:     {{ . }}	fake	fake	70
{{ end }}{{ with .Description}}i	fake	fake	70
{{ wrapDescription . }}
{{ end }}i	fake	fake	70
{{ with .RecordingsVideo }}iVideo:	fake	fake	70
{{ range . }}{{ . }}
{{ end }}i	fake	fake 70
{{ end }}{{ with .RecordingsAudio }}iAudio:	fake	fake	70
{{ range . }}{{ . }}
{{ end }}i	fake	fake 70
{{ end }}i=======================================================================	fake	fake	70
