i  ___ _ __ ___   __ _ 	fake	fake	70
i / __| '_ ` _ \ / _` |	fake	fake	70
i| (__| | | | | | (_| |	fake	fake	70
i \___|_| |_| |_|\__, |	fake	fake	70
i  chaotic media |___/ 	fake	fake	70
i      gopher	fake	fake	70
