{{ template "header.tmpl" }}i=======================================================================	fake	fake	70
iMain	fake	fake	70
i=======================================================================	fake	fake	70
i	fake	fake	70
iWelcome to the chaotic media gopher, a gopher frontend for media.ccc.de,	fake	fake	70
ibrought to you by RaumZeitLabor.	fake	fake	70
i	fake	fake	70
hVisit RaumZeitLabor	URL:https://raumzeitlabor.de	{{ .Host }}	{{ .Port }}
hVisit media.ccc.de	URL:https://media.ccc.de	{{ .Host }}	{{ .Port }}
i	fake	fake	70
iFor historical reasons most (if not all) gopher clients expect the	fake	fake	70
iserver to speak ASCII. Nonetheless cmg speaks UTF-8. Terminal based	fake	fake	70
iclients (like lynx(1) or gopher(1)) running in an UTF-8 environment are	fake	fake	70
iokay with this. Your mileage may vary, though.	fake	fake	70
i	fake	fake	70
iBrowse by category:	fake	fake	70
{{ range .Items }}{{ . }}
{{ end }}i	fake	fake	70
i=======================================================================	fake	fake	70
iIssues, ideas, patches? Vist cmg on GitHub.	fake	fake	70
hVisit cmg on GitHub	URL:https://github.com/blabber/cmg	{{ .Host }}	{{ .Port }}
i=======================================================================	fake	fake	70
